body{
	color: #000;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

.custom {
    background-color: #3d3d3d;
    }

.sing-colm {
    background-color: #000;
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
}

.content-movie {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0em 4em;
}

.content-img {
    display: block;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    }

 #info-movie {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}

.box-title {
    width: 100%;
    margin-bottom: 30px;
    }


#title {
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#year {
    opacity: 0.6;
    font-size: 1.3em;
    font-weight: 400;
}

#genero {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0px;
}

#timer {
    opacity: 0.6;
    font-weight: 400;
}


ol {
    line-height: 1.4em;
}

li {
    display: list-item;
}

ol.people {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    margin: 0px;
    padding: 0px;
}

ol.people li {
    width: 140px;
    box-sizing: border-box;
    margin-right: 10px;
}

#profile {
    background-color: transparent;
    height: auto;
    margin-bottom: 0px;
}